*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font: #0F172A;
    font-family: Inter;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    user-select: none;
}

.navlinks{
}




