*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font: #0F172A;
    font-family: Inter, sans-serif;
}

body{
    background-image: url(blurry-gradient-haikei.svg);
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    user-select: none;
    margin-left: 50px;
    margin-right: 50px;
}

.navnome>h1{
    font-weight: 600;
}


.navlinks>a{
    margin-left: 30px;
    text-decoration: none;
    font-weight: 600;
    color: inherit
}








